/* NOTE: You can always change anything you want! */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap'); /* This is just a Google Font API, you can replace/remove it! */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* You can always change the font whatever you like! */
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #222; /* Change it to any color you'd like! */
    overflow: hidden;
}
section .textBox
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333; /* Change it to any color you'd like! */
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}
.skew1 h2,
.textBox .skew2 h2
{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 12em; /* Change it to any size you'd like! */
    line-height: 1em;
    color: #0488f5; /* Change it to any color you'd like! */
    cursor: pointer;
}
.skew1 h2
{
    opacity: 0.6;
}
.skew1
{
    position: relative;
    top: 50px;
    transform: skewY(20deg);
}
.skew2
{
    position: relative;
    top: 50px;
    transform: skewY(340deg);
}
